
<!DOCTYPE>
<html>
    <head>
        <title>Burger Icon Animation</title>
        <link rel="stylesheet" href="../styles/styles.css">
    </head>
    <body>

        <div id="burger-container">
            <div id="burger">
                <span>&nbsp;</span>
                <span>&nbsp;</span>
                <span>&nbsp;</span>
                <span>&nbsp;</span>
            </div>
        </div>



        <script src="../scripts/jquery-3.2.1.min.js"></script>
        <script src="../scripts/script.js"></script>
    </body>
</html>